{% extends 'base.html' %}

{% load static %}

{% block title %}Home Page{% endblock title %}

{% block content %} 
    <h2>Bienvenido a El Bazar de Snoopy</h2>
    {% if user.is_authenticated %}
    <img src="{% static 'img/perro.png' %}" alt="Foto">
    <p>(Sus Datos) </p>
    <p>------------------------------------------------ </p>
    <p>Nombre De Usuario: {{user.first_name}} {{user.last_name}}</p>
    <p>Su Email Es:  {{user.email}}</p>
    <p>------------------------------------------------</p>
    <br><br>
    <a href="{% url 'logout' %}">Salir</a>
{% else %}
    <a href="{% url 'login' %}">Ingresar</a>
{% endif %}
{% endblock content %}

